---
import { Image } from 'astro:assets';
import osmuLogo from "../assets/osmu-logo.svg"
import heroImage from "../assets/BitaxeRenderAndSchematic.png"
import "../tailwind.css"
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Source Miners United</title>
    <link rel="icon" href="favicon.svg" type="image/svg">
</head>


<main class="font-osmu flex flex-col">
    <div class="flex items-center justify-between p-3">
        <Image src={osmuLogo} alt="OSMU Logo" class="w-44"/>
        <button class="text-base py-1 px-5 bg-white font-osmu font-bold text-osmu-purple border-2 border-osmu-purple rounded-lg">
            Support Us
        </button>
    </div>
    <Image src={heroImage} alt="A render of the Bitaxe and its schematic behind it." class="w-full h-auto object-contain" />
    <a href="/osmu/about">zum wiki</a>
</main>