---
import type { Props } from '@astrojs/starlight/props';
import ChipLink from './ChipLink.astro';
import ChipShops from './ChipShops.astro';

const { discordChannel, githubRepo, shops }  = Astro.props.entry.data
---

<div class="flex  flex-col sm:flex-row gap-3">
    <h1 id="_top">{Astro.props.entry.data.title}</h1>
    <div class="sm:ml-auto flex flex-wrap gap-2 sm:flex-col">
        {
            discordChannel !== undefined &&
            <ChipLink icon="discord" label="Discord Channel" href={ discordChannel }/>
        }
        {
            githubRepo !== undefined &&
            <ChipLink icon="github" label="Github Repo" href={ githubRepo }/>
        }
        {
            shops !== undefined &&
            <ChipShops shops={ shops }/>
        }
    </div>
</div>

<style>
	h1 {
		font-size: var(--sl-text-h1);
		line-height: var(--sl-line-height-headings);
		font-weight: 600;
		color: var(--sl-color-white);
	}
</style>