@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-Bold.ttf");
    font-weight: bold;
}